body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(to right, #fc354c, #0abfbc);
}

input {
    position: absolute;
    display: none;
}

* {
    user-select: none;
}

.over-the-top {
    color: black;
    background-color: white;
    padding: 2px 2px 2px 2px;
    text-shadow: 10px;
    margin: auto;
    height: 100px;
    width: 100%;
    border-radius: 10px;
}

.rando-text {
    color: black;
    background-color: white;
    padding: 2px 10px 2px 10px;
    text-shadow: 20px;
    box-shadow: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 10cm;
}

.menu {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-right: -25px;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.material-icons.md-36 {
    font-size: 26px;
    color: rgba(200, 150, 200, 0.7);
}

.btn:hover .md-36 {
    color: #f0f0f0;
}

.btn {
    background: #2080d4;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8. 0.25, 1)
}

.btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition:all 0.3s cubic-bezier(0.87, -41. 0.19, 1.44);
}

.btn:nth-child(2) {
    top: 0;
    transition: 0.1s;
}

.btn:nth-child(3) {
    top: 0;
    transition: 0.2s;
}

.btn:nth-child(4) {
    top: 0;
    transition: 0.3s;
}

.btn:nth-child(5) {
    top: 0;
    transition: 0.4s;
}

.btn:nth-child(6) {
    top: 0;
    transition: 0.5s;
}

/* This is home # top*/
input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    left: 100px;
    opacity: 1;
}

/* this is blog # top-left */
input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    left: 200px;
    opacity: 1;
}

/*This is resume # bottom-left */
input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    left: 300px;
    opacity: 1;
}

/* This is resume # top-right*/
input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    left: 400px;
    opacity: 1;
}

/*This is contact # bottom-right*/
input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    left: 500px;
    opacity: 1;
}

.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
}
